.footer-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-top: 1px solid #000000;
    font-family: 'Orbitron', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-text {

    font-size: 0.875rem;
  }
  
  .footer-links {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-link {
    font-size: 0.875rem;
    text-decoration: none;
    color: inherit;
  }
  
  /* Add any other styles as needed */
  